[submodule ".vim/bundle/A.vim"]
	path = .vim/bundle/A.vim
	url = git@github.com:Kris2k/A.vim.git
[submodule ".vim/bundle/cscope-vim"]
	path = .vim/bundle/cscope-vim
	url = git@github.com:Kris2k/cscope.vim.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/ZoomWin"]
	path = .vim/bundle/ZoomWin
	url = git@github.com:Kris2k/Zoomwin-vim.git
[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = git@github.com:Kris2k/Align-vim.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git@github.com:Kris2k/matchit.git
[submodule ".vim/bundle/minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = git@github.com:Kris2k/minibufexpl.vim.git
[submodule ".vim/bundle/nosenotes.vim"]
	path = .vim/bundle/nosenotes.vim
	url = git@github.com:Kris2k/nosenotes-vim.git
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = git@github.com:Kris2k/rainbow_parentheses.vim.git
[submodule ".vim/bundle/sessionman.vim"]
	path = .vim/bundle/sessionman.vim
	url = git@github.com:Kris2k/sessionman.vim.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/Kris2k/taglist.vim
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git@github.com:Kris2k/ack.vim.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = git@github.com:Kris2k/clang_complete.git
[submodule ".vim/bundle/xptemplate"]
	path = .vim/bundle/xptemplate
	url = https://github.com/Kris2k/xptemplate
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/Kris2k/Command-T
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/Kris2k/vim-surround
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/Kris2k/syntastic
[submodule ".vim/bundle/makegreen"]
	path = .vim/bundle/makegreen
	url = git@github.com:Kris2k/vim-makegreen.git
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = git@github.com:Kris2k/vim-pathogen.git
