[submodule ".vim/bundle/A.vim"]
	path = .vim/bundle/A.vim
	url = git@github.com:Kris2k/A.vim.git
[submodule ".vim/bundle/cscope-vim"]
	path = .vim/bundle/cscope-vim
	url = git@github.com:Kris2k/cscope.vim.git
[submodule ".vim/bundle/ZoomWin"]
	path = .vim/bundle/ZoomWin
	url = git@github.com:Kris2k/Zoomwin-vim.git
[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = git@github.com:Kris2k/Align-vim.git
[submodule ".vim/bundle/nosenotes.vim"]
	path = .vim/bundle/nosenotes.vim
	url = git@github.com:Kris2k/nosenotes-vim.git
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = git@github.com:Kris2k/rainbow_parentheses.vim.git
[submodule ".vim/bundle/sessionman.vim"]
	path = .vim/bundle/sessionman.vim
	url = git@github.com:Kris2k/sessionman.vim.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git@github.com:Kris2k/taglist.vim
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git@github.com:Kris2k/ack.vim.git
[submodule ".vim/bundle/xptemplate"]
	path = .vim/bundle/xptemplate
	url = git@github.com:Kris2k/xptemplate
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git@github.com:Kris2k/Command-T
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:Kris2k/vim-surround
[submodule ".vim/bundle/makegreen"]
	path = .vim/bundle/makegreen
	url = git@github.com:Kris2k/vim-makegreen.git
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = git@github.com:Kris2k/vim-pathogen.git
[submodule ".vim/bundle/file-line-vim"]
	path = .vim/bundle/file-line-vim
	url = git@github.com:Kris2k/file-line-vim.git
[submodule "mark.vim"]
	path = .vim/bundle/mark.vim
	url = git@github.com:Kris2k/mark.vim.git
[submodule "vim-fugitive"]
	path = .vim/bundle/fugitive.vim
	url = git@github.com:Kris2k/vim-fugitive.git
[submodule "vim-commentary"]
	path = .vim/bundle/commentary.vim
	url = git@github.com:Kris2k/vim-commentary.git
[submodule "camel-case-motion"]
	path = .vim/bundle/camelCaseMotion.vim
	url = git@github.com:Kris2k/CamelCaseMotion
[submodule "simple-tab-compleation"]
	path = .vim/bundle/SimpleTabCompleation.vim
	url = git@github.com:Kris2k/SimpleTabCompleation.vim.git
[submodule "robotframework.vim"]
	path = .vim/bundle/robotframework.vim
	url = git@github.com:Kris2k/robotframework-vim.git
[submodule "gitgutter.vim"]
	path = .vim/bundle/gitgutter.vim
	url = git@github.com:Kris2k/vim-gitgutter.git
[submodule "minbuffexpl.vim"]
	path = .vim/bundle/minibufexpl.vim
	url = git@github.com/Kris2k/minibufexpl.vim
[submodule "projectLite.vim"]
	path = .vim/bundle/projectLite.vim
	url = git@github.com:Kris2k/projectLite.vim.git
